@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Marvel Movie Database</h1>
    </div>

<div class="row">
        <h2>Introduction</h2>
        <p>
            This ASP.NET projects showcases a list of all of the Marvel movies and allows anyone to view the videos.
        </p>
</div>